---
title: Шоурум
---
extends shared/_layout
block content
  
  // SHOWROOM
  .showroom-head(data-aos="fade")
    .container
      // heading
      .showroom-head__heading
        .showroom-head__grid
          h1.showroom-head__title <span>Шоурум</span> компании в&nbsp;Москве
          .showroom-head__phones
            a(href="tel:88003020958").contact-phone
              .contact-phone__icon
                +svgMono('phone')
              .contact-phone__content
                .contact-phone__tel 8 800 302-09-58
                .contact-phone__description Бесплатный колл-центр для <br/>всех регионов России
      // gallery
      .showroom-head__gallery.swiper-container.swiper-control-arrows-simple(js-showroom-swiper)
        .swiper-wrapper
          .swiper-slide.showroom-head__gallery-slide.showroom-head__gallery-slide--wide
            img(src='img/showroomGal_1.jpg' srcset='img/showroomGal_1@2x.jpg 2x')
          .swiper-slide.showroom-head__gallery-slide.showroom-head__gallery-slide--boxed
            img(src='img/showroomGal_2.jpg' srcset='img/showroomGal_2@2x.jpg 2x')
          .swiper-slide.showroom-head__gallery-slide.showroom-head__gallery-slide--grouped
            img(src='img/showroomGal3.jpg' srcset='img/showroomGal_3@2x.jpg 2x')
            img(src='img/showroomGal4.jpg' srcset='img/showroomGal_4@2x.jpg 2x')
          .swiper-slide.showroom-head__gallery-slide.showroom-head__gallery-slide--boxed
            img(src='img/showroomGal_2.jpg' srcset='img/showroomGal_2@2x.jpg 2x')
          .swiper-slide.showroom-head__gallery-slide.showroom-head__gallery-slide--wide
            img(src='img/showroomGal_1.jpg' srcset='img/showroomGal_1@2x.jpg 2x')
          .swiper-slide.showroom-head__gallery-slide.showroom-head__gallery-slide--grouped
            img(src='img/showroomGal3.jpg' srcset='img/showroomGal_3@2x.jpg 2x')
            img(src='img/showroomGal4.jpg' srcset='img/showroomGal_4@2x.jpg 2x')
        .swiper-button-prev
          +svgMono("btn-arrow-left")
        .swiper-button-next
          +svgMono("btn-arrow")


  // CONTENT SECTION
  .showroom
    .container
      // section
      .showroom__section(data-aos="fade")
        .showroom__left
          .showroom__head
            .showroom__head-icon
              +svgMono("location")
            .showroom__head-content
              h2.h2-title Мы&nbsp;находимся по&nbsp;адресу
              p.p-big <strong>г. Москва</strong>, улица Шаболовка д.23 к.5
              p.p-small 1-й этаж красная вывеска <br/>&laquo;Hermle Часы из&nbsp;Германии&raquo;
              .metro
                .metro__icon.metro__icon--orange
                  +svgMono("moscow-metro-logo")
                .metro__content
                  .metro__name Октябрьская
                  .metro__directions 5 минут пешком
              .metro
                .metro__icon.metro__icon--brown
                  +svgMono("moscow-metro-logo")
                .metro__content
                  .metro__name Шаболовская
                  .metro__directions 7 минут пешком
              
        .showroom__right
          .showroom__content
            .contact__map
              div(js-contact-map data-center="[55.722563, 37.612668]" data-zoom="12")


      // section
      .showroom__section(data-aos="fade")
        .showroom__left
          .showroom__head
            .showroom__head-icon
              +svgMono("antique-clock")
            .showroom__head-content
              h2.h2-title В наличии
              .showroom__hours
                .p-big 09:00-18:00
                .p-small Граффик работы
              ul.ul-list
                li.p-small В выходные мы открыты по предварительному звонку
                li.p-small Для посетителей на машине доступна бесплатная парковка, позвоните для оформления пропуска
        
        .showroom__right
          .showroom__content
            table.table
              thead
                tr
                  td Артикул
                  td Товар
                  td Цена
              tbody
                mixin tableRow
                  tr
                    td 347689
                    td 
                      | Hermle 01231
                    td
                      span.c-red 469 400 ₽
                +tableRow
                +tableRow
                +tableRow
                +tableRow
                +tableRow
                +tableRow
                +tableRow
                +tableRow
                
            .catalog__pagination
              a(href="#" js-load-more).catalog__pagination-more
                +svgMono("refresh")
                span Показать еще


  // TAXI BANNER  
  .taxi-banner(data-aos="fade")
    .container
      .taxi-banner__wrapper
        .taxi-banner__content
          .h2-title Далеко или тяжело к нам ехать?
          p.p-main Нажмите на кнопку и закажите такси, а мы за него заплатим
          a(href="#").btn.btn-primary.btn-primary--big
            .btn-checkmark-icon
              +svgMono("checkmark")
            span Заказать такси
        .taxi-banner__image
          picture(js-lazy data-src="img/banner_taxi.png")
            data-src(
              media="(min-width: 992px)" 
              srcset="img/banner_taxi.png 1x, img/banner_taxi@2x.png 2x")
            data-src(
              media="(min-width: 0px)" 
              srcset="img/banner_taxi-md.png 1x, img/banner_taxi-md@2x.png 2x")


  //BANNERS
  .h-banners(data-aos="fade")
    .container
      .h-banners__wrapper
        .h-banners__col
          // banner
          .banner.banner--bg-cover
            .banner__content
              .h3-title.banner__title-limit У нас самый большой выбор в Москве
              p.p-small Напольные, навесные и настольные часы на любой вкус и кошелек
            .banner__image
              picture(js-lazy data-src="img/banner_6.jpg")
                data-src(
                  media="(min-width: 576px)" 
                  srcset="img/banner_6.jpg 1x, img/banner_6@2x.jpg 2x")
                data-src(
                  media="(min-width: 0px)" 
                  srcset="img/banner_6_sm.jpg 1x, img/banner_6_sm@2x.jpg 2x")
                
        .h-banners__col
          .banner.banner--bg-cover
            .banner__content
              .h3-title.banner__title-limit Путешествие на фабрику
              p.p-small Что сказывается на ценах, только прямые поставки
            .banner__image
              picture(js-lazy data-src="img/banner_7.jpg")
                data-src(
                  media="(min-width: 576px)" 
                  srcset="img/banner_7.jpg 1x, img/banner_7@2x.jpg 2x")
                data-src(
                  media="(min-width: 0px)" 
                  srcset="img/banner_7_sm.jpg 1x, img/banner_7_sm@2x.jpg 2x")
                
        .h-banners__col
          // banner
          .banner.banner--bg-cover
            .banner__content
              .h3-title.c-white Посетите <br/>наш шоурум<br/> в Москве
              p.p-small По предварительному заказу или звонку
            .banner__image
              picture(js-lazy data-src="img/banner_8.jpg")
                data-src(
                  media="(min-width: 576px)" 
                  srcset="img/banner_8.jpg 1x, img/banner_8@2x.jpg 2x")
                data-src(
                  media="(min-width: 0px)" 
                  srcset="img/banner_8_sm.jpg 1x, img/banner_8_sm@2x.jpg 2x")


  // header class modifier
  div(js-header-class data-class="header--merge-borders")
