// COMPARE MOBILE
.compare-mobile(data-aos="fade")
  .container
    .compare-mobile__wrapper
      .compare__text(js-compare-text) <span>2 товара</span> в сравнении
      .compare__close(js-compare-hide)
        +svgMono("close")
    
// HEAD
.c-head(data-aos="fade")
  .container
    .c-head__titles
      h1.h1-title.c-head__title Напольные часы
      .c-head__sorting
        select.muted(js-select js-catalog-sortby)
          option(disabled selected) Сортировать по
          option По популярности
          option Наименованию А-Я
          option Наименованию Я-А
          option По убываю цены
          option По возрастанию цены
    
    // FILTERS
    // mobile toggler
    .c-head__filter-toggler(js-catalog-filter-toggler data-show-text="Показать фильтр" data-hide-text="Скрыть фильтр")
      a(href="#").btn.btn-outline.btn-outline--small
        .btn-filter-icon
          +svgMono("filter")
        span Показать фильтр
    
    .c-head__filters(js-catalog-filter-showhide)
      form(action="" js-catalog-filter).c-filters
        // col
        .c-filters__col.c-filters__col--price
          .c-filters__group
            .c-filters__group-name Цена, руб
            .ui-range
              input.ui-range__mark.ui-range__mark--from(js-range-from value="0")
              div(
                js-rangeslider 
                data-range-min="0" 
                data-range-max="660000"
                data-step="1"
                data-start-from="0"
                data-start-to="500000")
              input.ui-range__mark.ui-range__mark--to(js-range-to value="0")
          
          //group
          .c-filters__group
            .ui-toggle
              input(type="checkbox" name="night" id="night")
              label(for="night")
                span Ночное отключение
                
        // col
        .c-filters__col.c-filters__col--shape
          .c-filters__group
            .c-filters__group-name Форма
            .ui-checkbox-selects
              .ui-checkbox-select
                input(type="checkbox" name="shape" id="shape_1" checked)
                label(for="shape_1")
                  span Напольные
              .ui-checkbox-select
                input(type="checkbox" name="shape" id="shape_2")
                label(for="shape_2")
                  span Настенные
              .ui-checkbox-select
                input(type="checkbox" name="shape" id="shape_3")
                label(for="shape_3")
                  span Настольные     
          
          .c-filters__group
            .ui-checkbox-row
              .ui-checkbox
                input(type="checkbox" name="quartz" id="quartz")
                label(for="quartz")
                  span Кварц
              .ui-checkbox
                input(type="checkbox" name="mechanics" id="mechanics")
                label(for="mechanics")
                  span Механика
                   
        // col
        .c-filters__col.c-filters__col--style
          .c-filters__group
            .c-filters__row
              // inner col
              .c-filters__col
                .c-filters__group
                  .c-filters__group-name Стиль
                  .ui-checkbox-selects
                    .ui-checkbox-select
                      input(type="checkbox" name="style" id="style_1")
                      label(for="style_1")
                        span Классика
                    .ui-checkbox-select
                      input(type="checkbox" name="style" id="style_2")
                      label(for="style_2")
                        span Модерн
                    .ui-checkbox-select
                      input(type="checkbox" name="style" id="style_3")
                      label(for="style_3")
                        span Эксклюзив   
              // inner col
              .c-filters__col.c-filters__col--melody
                .c-filters__group
                  .c-filters__group-name Мелодия
                  select(js-select)
                    option(disabled selected) Выбрать
                    option Бом-бом
                    option Дзинь
                    option Трам-пам-пам
                    option Тыц-тыц
          
          .c-filters__group
            // colors
            .ui-colors
              mixin ui_color(id)
                .ui-color(title="Название цвета")
                  input(type="checkbox" name="color" id="color_"+id+"")
                  label(for="color_"+id+"")
                    img(src='img/catalog-colors/color_'+id+'.png' srcset='img/catalog-colors/color_'+id+'@2x.png 2x')
              
              +ui_color(1)
              +ui_color(2)
              +ui_color(3)
              +ui_color(4)
              +ui_color(5)
              +ui_color(6)
              +ui_color(7)
              +ui_color(8)
              +ui_color(9)
              +ui_color(10)
              +ui_color(11)
              +ui_color(12)
    
    .c-quick-filter
      a(href="#") часы с боем и мелодией
      a(href="#") часы с боем
      a(href="#") классические напольные часы
      a(href="#") механические эксклюзивные часы
      a(href="#") напольные часы с ночным отключением     
