// PRODUCT SCOPE
.p-exclusive(data-aos="fade")
  .container
    .p-exclusive__wrapper
      // left
      .p-exclusive__left
        .p-exclusive__cover-image
          picture(js-lazy data-src="img/productExclusive.png")
            data-src(
              media="(min-width: 992px)" 
              srcset="img/productExclusive.png 1x, img/productExclusive@2x.png 2x")
            data-src(
              media="(min-width: 0px)" 
              srcset="img/productExclusive_lg.png 1x, img/productExclusive_lg@2x.png 2x")

      // right
      .p-exclusive__right
        .p-scope__category Напольные часы
        .p-exclusive__heading
          h1.h1-title.p-scope__name Часы Hermle <br/>01210
            .tag.tag--exclusive.tag--mobile Эксклюзив
          .tag.tag--exclusive Эксклюзив
        .p-scope__row
          .p-scope__article Арт: 5655351
          .p-scope__availability.is-available
            +svgMono("checkmark")
            span В наличии
          .p-scope__showroom.p-scope__showroom--white-bg <span>Шоурум в Москве:</span> ул. Шаболовка д.23 к.5
        
        // cta
        .p-scope__cta.p-scope__cta--exclusive
          .p-scope__price.price.price--product
            .price__newprice 469 400 <span class="r-mark">₽</span>
          
          .p-scope__buy
            a(href="#").btn.btn-primary.btn--buy
              .btn-cart-icon
                +svgMono("cart")
              span Купить часы
          
          .p-scope__compare
            a(href="#").btn.btn-compare.btn-compare--arr-left
              +svgMono("compare")
        
        div.p-exclusive__cover-image.p-exclusive__cover-image--mobile
          picture(js-lazy data-src="img/productExclusive.png")
            data-src(
              media="(min-width: 992px)" 
              srcset="img/productExclusive.png 1x, img/productExclusive@2x.png 2x")
            data-src(
              media="(min-width: 0px)" 
              srcset="img/productExclusive_lg.png 1x, img/productExclusive_lg@2x.png 2x")

        // mini gallery
        .p-exclusive__gallery.swiper-container.swiper-control-arrows.swiper-control-arrows--container-fit(js-swiper-exclusive js-popup-gallery data-delegate=".swiper-slide:not([js-popup-video])")
          .swiper-wrapper
            .swiper-slide.p-exclusive__gallery-slide(data-mfp-src="img/productExclusive_1.jpg")
              img(src='img/productExclusive_1.jpg' srcset='img/productExclusive_1@2x.jpg 2x')
            .swiper-slide.p-exclusive__gallery-slide(data-mfp-src="img/productExclusive_2.jpg")
              img(src='img/productExclusive_2.jpg' srcset='img/productExclusive_2@2x.jpg 2x')
            .swiper-slide.p-exclusive__gallery-slide(js-popup-video data-mfp-src="https://www.youtube.com/watch?v=lNSaAKqFGZo")
              img(src='img/productExclusive_3.jpg' srcset='img/productExclusive_3@2x.jpg 2x')
            .swiper-slide.p-exclusive__gallery-slide(data-mfp-src="img/productExclusive_1.jpg")
              img(src='img/productExclusive_1.jpg' srcset='img/productExclusive_1@2x.jpg 2x')
          .swiper-button-prev
            +svgMono("btn-arrow-left")
          .swiper-button-next
            +svgMono("btn-arrow")    
    
  
